/*site.css*/

html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

label {
    font-weight: bold;
    display: block;
}

input[type=text], input[type=password] {
    width: 150px;
}

#page-wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-align-content: stretch;
    -webkit-align-content: stretch;
    align-content: stretch;
}

#sidebar-wrapper {
    float: left;
    height: 100%;
    width: 250px;
    overflow: hidden;
    background-color: #8E8E8E;
    -moz-transition: width .25s;
    -o-transition: width .25s;
    -webkit-transition: width .25s;
    transition: width .25s;
}

    #sidebar-wrapper.hide-sidebar {
        width: 50px;
        -moz-transition: width .25s;
        -o-transition: width .25s;
        -webkit-transition: width .25s;
        transition: width .25s;
    }

#sidebar_btn {
    background-color: #2F2F2F;
    text-align: center;
    margin-bottom: 3px;
}

    #sidebar_btn i {
        color: #ffffff;
    }

.userimg {
    max-width: 80px;
    max-height: 80px;
    padding: 2px;
}

.menu {
    font-size: 12px;
}

    .menu li {
        list-style-type: none;
    }

        .menu li.active {
            font-weight: bold;
        }

#main-wrapper {
    height: 100%;
    overflow: auto;
    flex-grow: 1;
}

#main {
    height:100%;
    background-color: #CECECE;
    padding: 5px;
    margin: 0;
}

#footer {
    background-color: #2F2F2F;
    color: #CECECE;
    position: fixed;
    width: 100%;
    bottom: 0;
}