/*site.css*/

body, html {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

label {
    font-weight: bold;
    display: block;
}

input[type=text], input[type=password] {
    width: 150px;
}

#wrapper {
    margin: 0 0 0 250px;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s;
    transition: margin-left ease .25s;
}

    #wrapper.hide-sidebar {
        margin-left: 50px;
        -moz-transition: margin-left ease .25s;
        -o-transition: margin-left ease .25s;
        -webkit-transition: margin-left ease .25s;
        transition: margin-left ease .25s;
    }

#main {
    background-color: #CECECE;
    padding: 5px;
    margin: 0;
    overflow: auto;
}

#footer {
    background-color: #2F2F2F;
    color: #CECECE;
    position: fixed;
    width: 100%;
    bottom: 0;
}


#sidebar {
    background-color: #8E8E8E;
    position: fixed;
    height: 100%;
    width: 250px;
    overflow: hidden;
    left: 0;
    margin: 0;
    -moz-transition: left ease .25s;
    -o-transition: left ease .25s;
    -webkit-transition: left ease .25s;
    transition: left ease .25s;
}

    #sidebar.hide-sidebar {
        left: -200px;
        -moz-transition: left ease .25s;
        -o-transition: left ease .25s;
        -webkit-transition: left ease .25s;
        transition: left ease .25s;
    }

#sidebar.hide-sidebar i {
    text-align: right;
}

#sidebar_btn {
    background-color: #2F2F2F;
    text-align: center;
    margin-bottom: 3px;
}

    #sidebar_btn i {
        color: #ffffff;
    }

.userimg {
    max-width: 80px;
    max-height: 80px;
    padding: 2px;
}

.menu {
    font-size: 12px;
}

    .menu li {
        list-style-type: none;
    }

        .menu li.active {
            font-weight: bold;
        }