@model IEnumerable<WebApp.Models.Trip>

@{ 
    ViewBag.Title = "Index";
}

<div>
    <h2>Trip Manager</h2>
    @Html.ActionLink("View Trips", "Trips", "WebApp", null, new { @class = "btn btn-lg btn-default" })
</div>