@model IEnumerable<WebApp.Models.Trip>

@{ 
    ViewBag.Title = "Index";
}

<div>
    <h2>Trips</h2>
    <ul>
        @foreach (var trip in Model)
        {
            <li>@trip.Name (@trip.Created.ToShortDateString())</li>
        }
    </ul>
</div>