@{ 
    ViewBag.Title = "Trips";
}

@section Scripts{
    <script type="text/javascript" src="~/lib/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="~/lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="~/scripts/app-trips.js"></script>
    <script type="text/javascript" src="~/scripts/controllers/tripsCtrl.js"></script>
<script type="text/javascript" src="~/scripts/controllers/directivesCtlr.js"></script>
}

<div class="row" ng-app="app-trips">
    <div ng-view></div>
</div>